body {
   background-image: url(img/background1.jpg);
   background-position: center;
   background-size: auto;
   background-repeat: repeat;
   align-items: center;

}

h1.tituloregistro {
   text-align: center;
   font-size: 35px;
   font-family: 'Prompt', sans-serif;
   color: white;
   text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

div.fachadadiv {
   margin: auto;
   width: 700px;
   margin-bottom: 50px;

}

img.fachada{
   width: 700px;
   border-radius: 20px;
   box-shadow: 5px 5px 30px black;

}

div.botonesinicio {
   text-align: center; 
   margin-bottom: 50px;  
}

.registro {
   background-image: url(img/register.jpg);
   background-size: cover;
   background-position: right;
}

div.formulario {

   border: 1px solid rgb(228, 228, 228);
   border-radius: 15px;
   box-shadow: 5px 5px 5px gray;
   padding: 10px;
   width: 550px;
   background-color: rgba(230, 230, 230, 0.863);
   margin-left: 10%;
   margin-bottom: 100px;
}

.descriptor {
   border: 0px solid red;
   float: left;
   text-align: left;
   padding: 1px;
   font-family: 'Quicksand', sans-serif;
}

.etiqueta {
   border: 0px solid black;
   margin-left: 30%;
   margin-bottom: 10px;
}

textarea {
   vertical-align: top;
}

div.botones {
   margin: auto;
   text-align: center;
}

div.botones2 {
   margin: auto;
   text-align: center;
   margin-top: 100px;
}

body.horas {
   background-image: url(img/horasfondo.jpg);
   background-position: top;
   background-size: auto;
}

div.formulario2 {

   border: 1px solid rgb(228, 228, 228);
   border-radius: 15px;
   box-shadow: 5px 5px 5px gray;
   padding: 10px;
   width: 550px;
   background-color: rgba(230, 230, 230, 0.863);
   margin-left: 10%;
   margin-top: 150px;
}

.fichas {
   background-image: url(img/fondofichas.png);
   background-position: top;
   background-size:cover;
}

div.contenedorfichas {
   margin-top: 50px;
}
.tabla th, td {
   font-family: 'Quicksand', sans-serif;
   padding: 10px;
   border: 1px solid black;
}
   td {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.733);
   }

   th {
      background-color: rgba(0, 0, 0, 0.178);
      color: white;
   }















 

   