div.formulario {

   border: 1px solid rgb(228, 228, 228);
   border-radius: 15px;
   box-shadow: 5px 5px 5px gray;
   padding: 10px;
   width: 550px;
   background-color: rgba(135, 206, 250, 0.26);
   
}

textarea {
   vertical-align: top;
}

.descriptor {
   border: 0px solid red;
   float: left;
   text-align: left;
}

.etiqueta {
   border: 0px solid black;
   margin-left: 30%;
}

.descriptor, .etiqueta {

   padding: 1px

}

div.botones {
   margin: auto;
   text-align: center;
}