body {
   background-image: url(img/background1.jpg);
   background-position: center;
   background-size: auto;
   background-repeat: repeat;
   align-items: center;

}

body.horas{
   background-image: url(img/horasfondo.jpg);
   background-position: top;
   background-size: auto;
}
h1.tituloregistro{
   margin:auto;
   width: 800px;
   text-align: center;
   font-size: 35px;
   font-family: 'Prompt', sans-serif;
   color: white;
   text-shadow: 3px 3px 3px rgb(0, 0, 0);

}

div.formulario {

   border: 1px solid rgb(228, 228, 228);
   border-radius: 15px;
   box-shadow: 5px 5px 5px gray;
   padding: 10px;
   width: 550px;
   background-color: rgba(230, 230, 230, 0.863);
   margin-left: 10%;
   float: left;
   margin-bottom: 100px;
   
}

textarea {
   vertical-align: top;
}

.descriptor {
   border: 0px solid red;
   float: left;
   text-align: left;
   padding: 1px;
   font-family: 'Quicksand', sans-serif;
}

.etiqueta {
   border: 0px solid black;
   margin-left: 30%;
   margin-bottom: 10px;
   
}

div.botones{
   margin: auto;
   text-align: center;
}

div.formulario2 {

   border: 1px solid rgb(228, 228, 228);
   border-radius: 15px;
   box-shadow: 5px 5px 5px gray;
   padding: 10px;
   width: 550px;
   background-color: rgba(230, 230, 230, 0.863);
   margin-left: 10%;
   margin-top: 150px;
   float: left;
   
}

div.portada {
   margin:auto;
   width: 800px;
   text-align: center;
   margin-bottom: 50px;
   
}

div.botonesinicio {
   margin: auto;
   width: 800px;
   text-align: center;   
}